*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-top: 20px;
}

body {

    font-size: 16px;
    color: #333333;
    text-align: left;

}

h1 {

    font-size: 36px;
    color: #1a1a1a;
    text-align: center;
    margin-top: 20px;
}

h2 {

    font-size: 28px;
    color: #2c3e50;
    text-align: center;
    margin-top: 20px;

}

h3 {

    font-size: 24px;
    color: #34495e;
    text-align: left;
    margin-top: 20px;

}

p { 

     font-size: 15px;
     color: #444444;
     text-align: justify;

}

div {

    text-align: left;

}

span {

    color: #0066cc;
    font-size: 15px;
    
}

