*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-top: 20px;
}

body {
    font-size: 16px;
    color: #333333;
    text-align: left;
    font-family: Arial, sans-serif;

}

h1 {
    font-size: 36px;
    color: #1a1a1a;
    text-align: center;
    margin-top: 25px;
    padding-left: 15px;
    font-weight: bold;
    font-style: italic;
}

h2 {
    font-size: 28px;
    color: #2c3e50;
    text-align: center;
    margin-top: 25px;
    padding-left: 15px;
}

h3 {
    font-size: 24px;
    color: #34495e;
    text-align: left;
    margin-top: 25px;
    padding-left: 15px;
}

p { 
     font-size: 15px;
     color: #444444;
     text-align: justify;
     padding-top: 30;
     padding-left: 35px;

}

div {
    text-align: left;
}

span {
    color: #ff81f9;
    font-size: 15px;  
}

.destaque {
    color: #5b3ce7;
    font-size: 16px;
}

.secao {
    text-align: center;
}

.link-social {
    color: #e567e9;
    font-size: 15px;
}

.tecnologia {
    color: #8e44ad;
    font-size: 14px;
}

.p_destaque {
    color: #8e44ad;
    font-size: 14px;
}